@model IEnumerable<RentalModel>

@{
    ViewData["Title"] = "Rental";
}

<h1>Rental</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyPrice)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyPrice)
            </td>
            
            <td>
               <a asp-action="Remove" asp-route-carId="@item.CarId" asp-route-userId="@item.UserDetailId"> Remove </a>
            </td>
        </tr>
}
    </tbody>
</table>
